.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: -1rem;
}

.button {
  color: var(--gray-100);
  background-color: var(--blue);
  cursor: pointer;
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: bold;
}

.button:hover {
  background-color: var(--blue-dark);
}

.input {
  background-color: var(--gray-500);
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem 1rem;
  color: var(--gray-100);
  font-size: 1rem;
}
